.hud {
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: grid;
    grid-template-columns: 72px 2fr 3fr 1fr;
    gap: 10px;
    grid-template-rows: auto auto 1fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 72px 2fr 3fr 1fr;
    gap: 10px;
    color: #fff;
    height: 50px;
    vertical-align: top;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.options {
    pointer-events: auto;
}

.action {
    position: absolute;
    top: 12%;
    width: 100vw;
    height: 80vh;
    z-index: 1000;
}

.footer {
    pointer-events: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stats {
    left: 0;
    width: 60%;
}

.credits {
    right: 0;
}

.credits_sidebar {
    position: absolute;
    bottom: 0;
    height: 25%;
    background-color: #00000066;
}

.credits_button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    border-color: transparent;
    background-color: transparent;
}
